body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow';
    margin: 0;
    padding: 0;
    background-color: #ececec;
}

header {
    background-color: #000000;
    color: rgb(175, 155, 155);
    text-align: center;
    padding: 40px 20px;
}

section {
    padding: 20px;
    max-width: 800px;
    margin: auto;
} 

a {
    display: inline-block;
    background-color: #000000;
    color: rgb(175, 155, 155);
    padding: 16px 28px;
    text-decoration: none;
    border-radius: 12px;
    margin-top: 10px;
    font-size: 20px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

@media (max-width: 768px) {
    body {font-size: 16px;}
    
    header {padding: 20px 10px;}

    section {padding: 15px;}
}

:root {
    --color-principal: #000000;
}

header {
    background-color: var(--color-principal);
}