body {
    font-family: 'inter', sans-serif;
    color: var(--texto);
    line-height: 1.6;
}

header {
    background-color: #000000;
    color: rgb(175, 155, 155);
    text-align: center;
    padding: 40px 20px;
}

section {
    padding: 20px;
    max-width: 800px;
    margin: auto;
} 

img {
    max-width: 100%;
    height: 500px;
    border-radius: 10px;
    
}

li {
    margin-bottom: 8px;
}

.Promociones {
    background-color: var(--gris);
    padding:30px 20px;
    margin: auto;
    border-radius: 30px;
    text-align: center;
    border: 2px dashed #000000;
    max-width: 400px;
}

.Promociones h2 {
    font-size: 26px;
    margin-bottom: 15px;
}

.whatsapp-float {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25d366;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    z-index: 1000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.whatsapp-float svg {
    width: 40px;
    height: 40px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 20px;
    max-width: 1100px;
    margin: auto;
    gap: 30px;
    background-color: #e7e7e7;
    border-radius: 10px;
    border: 5px solid #e0e0e0;
}

.hero-content {
    max-width: 500px;
}

.hero h1 {
    font-size: 50px;
    margin-bottom: 15px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 25px;
    color: #555;
}

.hero-btn {
    display: inline-block;
    background-color: var(--principal);
    color: white;
    padding: 12px 24px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.hero img {
    max-width: 600px;
    border-radius: 10px;
    height: 500px;
}

h1, h2, h3 {
    font-weight: 700;
}

p, li {
    font-size: 16px;
}

:root {
    --principal: #25d366;
    --gris: #f5f5f5;
    --texto: #222;
}

.card {
    background-color: white;
    padding: 30px 25px;
    margin: 40px auto;
    max-width: 1000px;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
}

.card:hover {
    transform: translateY(-4px);
    transition: 0.3s;
}

.servicios ul {
    margin-bottom: 30px;
}

.promo-card {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
    border-left: 5px solid var(--principal);
}

.promo-card h3 {
    margin-bottom: 10px;
}

.sobrenosotros {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 20px;
    max-width: 1100px;
    margin: auto;
    gap: 30px;
}

.sobrenosotros img {
    max-width: 450px;
    border-radius: 10px;
}

.sobrenosotros-content {
    max-width: 500px;
}

body  {
    background-color: #f2f2f2;
}

.footer {
    background: #111;
    margin-top: 60px;
    padding: 40px 20px 20px;
    color: #eee;
}

.footer-content {
    max-width: 1100p;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 32px;
}

.footer p {
    font-size: 0.9rem;
    opacity: 0.85;
}

.footer h3,
.footer h4 {
    margin-bottom: 12px;
}

.footer a {
    display: block;
    color: #25d366;
    text-decoration: none;
    margin-bottom: 8px;
    font-size: 0.9rem;
}

.footer a:hover {
    text-decoration: underline;
}

.footer-bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    margin-top: 24px;
    padding-top: 16px;
    text-align: center;
    font-size: 0.8rem;
    opacity: 0.6;
    
}

.services {
    max-width: 1100px;
    margin: 0 auto;
    padding: 40px 20px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin-top: 32px;
}

.card {
    background-color: #ffffff;
    padding: 24px;
    min-height: 180px;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
    opacity: 0;
    transform: translateY(30px);
}

.card.show {
   animation: fadeUp 0.9s ease forwards;
}

.card:nth-child(2) {
    animation-delay: 0.15s;
}

.card:nth-child(3) {
    animation-delay: 0.3s;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.12);
}

.card h3 {
    margin-bottom: 8px;
    font-size: 1.2rem;
}

.card p {
    color: #555;
    font-size: 0.95rem;
    opacity: 0.85;
}

.card-destacada {
    border: 2px solid #25d366;
    transform: scale(1.03);
    position: relative;
}

.badge {
    position: absolute;
    top: -12px;
    right: 16px;
    background: #25d366;
    color: white;
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 0.75rem;
    font-weight: bold;
}

.info {
    max-width: 900px;
    margin: 80px auto;
    padding: 0 20px;
}

.info h2 {
    font-size: 2rem;
    margin-bottom: 32px;
}

.info-item {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    margin-bottom: 24px;
}

.info-item h3 {
    margin: 0;
    font-size: 1.1rem;
}

.info-item p {
    margin: 4px 0 0;
    color: #555;
}

.icon {
    font-size: 1.8rem;
}

.btn-maps {
    display: inline-block;
    margin-top: 32px;
    padding: 14px 28px;
    background-color: #222;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    transition: background 0.3s;
}

.btn-maps :hover {
    background-color: #000;
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
         transform: translateY(0);
    }
}



@media (max-width: 768px) {    
    .footer-content {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .footer-links a {
        margin: 6px 0;
    }
 
    .card-destacada {
        transform: none;
    }
   
    .cards {
        grid-template-columns: 1fr;
        gap: 20px;
    }
    
    .whatsapp-float {
        width: 52px !important;
        height: 52px !important;
    }
    
    .whatsapp-float svg {
    width: 25px !important;
    height: 25px !important;
}

    .sobrenosotros {
        flex-direction: column;
        text-align: center;
    }
    
    .hero {
        display: flex;
        flex-direction: column;
        text-align: center;
        min-height: 90vh;
        padding: 60px 20px;
        padding-top: 80px;
    }

    .hero h1 {
        font-size: 1.8rem;
        line-height: 1.2;
    }

    .hero p {
        font-size: 1rem;
        opacity: 0.85;
    }

    .hero-btn {
        margin-top: 16px;
    }

    .hero img {
        width: 100%;
        margin-top: 24px;
        max-width: 90%;
        opacity: 0.95;
    }

    body {font-size: 16px;}
    
    header {padding: 20px 10px;}

    section {padding: 15px;}
}